.add-todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
  }
  
  .form-outline {
    position: relative;
    width: 100%;
  }
  
  .form-control-lg {
    padding: 1rem;
    font-size: 1.25rem;
    
   
  }
  
  .form-label {
    position: absolute;
    top: -1.5rem;
    left: 0;
    font-size: 1rem;
    
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  