.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .form-check-input {
    margin-right: 1rem;
  }
  
  .fas.fa-times {
    color: #007bff;
  }
  